	body{
	    font-family: Myriad Pro;
	    background-image: url(../images/header.png);
	    background-repeat: no-repeat;
	    background-size: 100%;
	    color:#303030;
	}

	header{
		position: relative;
		text-align: right;
	}

	.mesmalinha{
		display: inline-block;
		width: 50%;
		vertical-align: top;
	}

	#tableresultado{
		width: 50%;
		margin:	20px auto; 
	}

	#tableresultado td{
		vertical-align: top;
	}


	.segundalinha p{
		text-align: center;
	}

	.segundalinha input{
		height: 150px;
		transition: 0.3s;
	}

	.segundalinha input:hover{
		height: 180px;
	}

	#mensagemtempo{
		font-size: 20pt;
	}

	#terceiralinha{
		position: relative;
		width: 50%;
		margin: 10px auto;
		background-color: #303030;
		border-radius: 10px;
		padding: 5px 10px;
	}

	.level0{
		color:#ff4141;
	}

	.level1{
		color:#ff8400;
	}

	.level2{
		color:#EAD700;
	}

	.level3{
		color:#ebee08;
	}

	.level4{
		color:#08eea5;
	}
	.level5{
		color:#088fee;
	}

	.level6{
		color:#1931c4;
	}

	header h1{
		top:-10px;
		color: #EAD700;
	    font-size: 60pt;
	    text-align: right;
	    margin: 0px;
	}


	header h3{
		top: 60px;
		margin-right: 12px;
		font-size: 30px;
		color: #EAD700;
		margin: 0px;
	}

	section{
		position: absolute;
		width: 90%;
		margin: 10px 5% 0px 5%;
		text-align: center;
	}

	section h4{
		font-size: 20pt;
		text-align: center;
		margin-bottom: 10px;
	}

	section label{
		font-size: 20pt;
		text-align: right;
	}
	section input{
		left:500px;
	}

	#quantidadeCaracteres{
		vertical-align: top;
	}

	#tamanhonumero{
		background-color: #303030;
		border: solid #303030 6px;
		border-radius: 15px;
		width: 150px;
		height: 70px;
		font-size: 50pt;
		font-family: Myriad Pro;
		color: white;
		padding: 10px;
		text-align: center;
	  margin: 30px 0px;
	  transition:0.3s;
	}

	#tamanhorange{
	  width: 300px;
	}

	#statussenha{
	  background-color: #303030;
	  padding: 20px 10px;
	  width: 300px;
	  color: white;
	  border-radius: 10px;
	  margin: 0px auto 20px auto;
	}

	table{
		width: 80%;
		margin: 50px auto 0px auto;
	}

	table label{
		margin: 10px;
	}


	label img{
		width: 80px;
		margin-bottom: 10px;
		transition:0.1s;
	}

	input[type=checkbox]{
		display: none;
	}

	.imgSelector:hover{
		width: 90px;
		margin-bottom: 0px;
	}

	#divbotoes{
		margin-top: 30px;
	}

	#botaoConfirma {
		height: 80px;
		vertical-align: middle;
	  	transition: 0.3s;
	}

	#botaoConfirma:hover{
		height: 90px;
	}


	.functionbutton{
	    margin:20px 20px;
	    width:95px;
	    transition:0.3s;
	}

	.functionbutton:hover{
	    width:120px;
	}


	.alerta{
		width: 60%;
		height: auto;
		margin: 10px auto;
		padding: 10px 20px;
		top: 20px;
		position: relative;
		background-color: #303030;
		//border: solid 3px #EAD700;
		border-radius: 10px;
		overflow: inherit;
		color: white;
		text-align: justify;
	}
	.bold{
		font-weight: bold;
	}

	.resultadoSenha{
		margin: auto;
		width: 100%;
		height: auto;
		background-color: #303030;
		color:white;
		padding: 10px;
		margin-top: 10px;
		border-radius:10px;
		word-wrap: break-word;
	}

	.botaoFuncoes{
		margin-top: 10px;
		margin-right: 10px;
		border: #303030 5px solid;
		border-radius:10px;
		padding: 20px;
		font-size: 12pt;
		width: 170px;
		background-color: white;
	}

	#primaria{
	    position: absolute;
	    width: 100%;
	}

	#secundaria{
	  position: absolute;
	  display: none;
	  width: 100%;
	  opacity: 0;
	  top:0px;
	  left:321px;
	}

	.botoestransacao{
		width: 60px;
		vertical-align: middle;
		margin: 0px 30px;
		transition: 0.3s;
	}

	.botoestransacao:hover{
		margin-top: -5px;
		width: 70px;
	}


@media screen and (max-width: 1030px) {
	h1{
		font-size: 40pt!important;
	}
	h3{
		font-size: 15pt!important;
	}

	#tableresultado{
		width: 60%;
		margin:	20px auto; 
	}

	.resultadoSenha{
		width:90%;
	}
}

@media screen and (max-width: 768px) {
	h1{
		font-size: 25pt!important;
	}
	h3{
		font-size: 15pt!important;
	}

	h4{
		font-size:15pt!important;
	}

	table{
		margin-top: 10px!important;
	}

	table td label{
		font-size: 15pt;
	}
	#tableresultado{
		width: 80%!important;
	}

	#textoresultado{
		width: 100%!important;
	}

	#terceiralinha{
		width: 80%;
	}

	.resultadoSenha p{
		font-size: 12pt!important;
	}
}

@media screen and (max-width: 480px) {

	body{
	    background-image: url(../images/headermini.png);
	    background-repeat: no-repeat;
	    background-size: 115%;
	}
	h1{
		font-size: 20pt!important;
	}
	h3{
		width: 60%;
		font-size: 12pt!important;
		float: right;
	}

	section{
		margin-top: 30px!important;
	}

	.imgSelector{
		width: 30px!important;
	}

	label{
		font-size: 10pt!important;
		text-align: center!important;
	} 

	.botoestransacao{
		width: 50px!important;
		margin-bottom: 10px!important;
	}

	#botaoConfirma{
		height: 50px!important;
		vertical-align: top!important;
	}

}